h2 {
	color: #ffffff;
}

.commands-container {
	margin-bottom: 2rem;
}

.commands {
	padding: 15px;
}

.commands > .cl-header {
	margin: 0px -15px;
	padding: 1.5rem;
	padding-top: 0px;
}

.commands > .row {
	background-color: #1b1d1f;
	margin: 0px;
	margin-bottom: 1rem;
	border-radius: 0.3rem;
}

.commands > .row > div {
	padding: 0.75rem;
}

.commands > .row > .cmd-name {
	color: #ccd5da;
}

.commands > .row > .cmd-usage > .usage-parts {
	display: inline-block;
}

.commands > .row > .cmd-usage > .usage-parts > .usage-part {
	display: block;
}

.commands > .row > .cmd-usage::before {
	content: "Usage";
	background-color: #5a646a;
	color: #ccd5da;
	font-size: 0.75rem;
	padding: 0.125rem 0.25rem;
	margin-right: 0.25rem;
	border-radius: 0.25rem;
	vertical-align: top;
}

a.btn {
	width: 100%;
}

@media (min-width: 768px) {
	.commands > .row {
		margin-bottom: 0px;
		border-radius: 0px;
	}

	.commands > .row > div {
		padding: 1.5rem;
	}

	.commands > .commands-header {
		background-color: #18191a;
		color: #ffffff;
		font-size: 1.25rem;
		border-top-left-radius: 0.3rem;
		border-top-right-radius: 0.3rem;
	}

	.commands > .row > .cmd-usage::before {
		content: "";
		padding: 0px;
		margin: 0px;
	}

	.commands > .row > .cmd-usage > .usage-parts {
		margin-left: 0px;
	}

	.commands > .row:nth-last-child(2) {
		border-bottom-left-radius: 0.3rem;
		border-bottom-right-radius: 0.3rem;
		margin-bottom: 1rem;
	}
}
@media (min-width: 768px) {
	a.btn {
		width: auto;
	}
}