body {
	background-color: #36393e;
	padding-top: 4.125rem;
	color: #99aab5;
}

img#logo {
	margin-right: 1rem;
	width: 2.5rem;
}

.navbar {
	background-color: inherit;
}

.jumbotron,.commands-container {
	background-color: #2a2d32;
}

.navbar-dark .navbar-nav .active > .nav-link {
	background-color: #2a2d32;
	border-radius: 0.3rem;
	font-weight: 600;
}